<div class="honors">
  <h2>Honors</h2>

  <ul>
    <li>National Encouragement Scholarship</li>
    <li>
      The Special Prize Graduate Scholarship at Southern University of Science
      and Technology
    </li>
    <li>
      The First Prize Graduate Scholarship at Southern University of Science and
      Technology
    </li>
    <li>Merit Student of Zhengzhou University</li>
    <li>
      The First Prize of Outstanding Student Scholarship at Zhengzhou University
    </li>
    <li>
      The Second Prize of National Undergraduate Electronic Design Contest (Top
      5%)
    </li>
    <li>The Second Prize of CHINA ROBOT COMPETITION (Top 10%)</li>
  </ul>

  <br />
  <p>Life is waiting us to explore more. Let's keep moving.</p>
</div>
